.section_container {
  margin-block: 60px;
  padding-inline: 80px;
}

.timeline_container {
  margin-top: 30px;
  max-width: 100%;
  overflow-x: scroll;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .timeline_container {
    margin-top: 20px;
    max-width: 100%;
    overflow-x: scroll;
    padding: 0px;
  }
}