@font-face{
    font-family: blackOps;
    src: url(./fonts/BlackOpsOne-Regular.ttf);
}

@font-face{
    font-family: rockSalt;
    src: url(./fonts/RockSalt-Regular.ttf);
}

.name-title {
    font-family: 'blackOps';
}

.signature{
    font-family: 'rockSalt';
}

.about-section{
    overflow: hidden !important;
}

.about-background{
    font-size: 500px;
    position: absolute;
    color: rgba(85, 85, 85, 0.082);
    font-family: 'blackOps';
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}