.card {
  background-color: var(--light-dark);
  padding: 30px;
  border: 4px solid black;
  border-bottom: 4px solid var(--primary);
  max-width: 33%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icons_container {
  display: flex;
  gap: 5px;
}

@media only screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}